/*.updates_gallery-layer:hover, img:hover + .updates_gallery-layer*/


@import url('https://fonts.googleapis.com/css?family=Raleway');

@import url('https://fonts.googleapis.com/css?family=Raleway:900');

@import url('https://fonts.googleapis.com/css?family=Lato');

@import url('https://fonts.googleapis.com/css?family=Lato:900');

@import url('https://fonts.googleapis.com/css?family=Lato::300i,900');

@mixin clearfix {
	&:after {
		content:"";
		display: table;
		clear: both;
	}
}

$fonts-principal: "Lato", sans-serif;
$project-pink: #ed145b;
$website-grey: #5a5a5a;

body {
	margin:0;

}

body {
	h2 {
		font-size: 38px;
		font-weight: 400;
		font-family: $fonts-principal;
		font-style: italic;
		line-height: 47px;
		letter-spacing: 0.95px;
	}

	h3
		{
		font-size: 16px;
	    font-family: $fonts-principal;
	    font-weight: 400;
	    text-transform: uppercase;
	    line-height: 20px;
	    letter-spacing: 0.25px;
	}

	p
		{
		color: $website-grey;
	    font-size: 15px;
	    font-family: $fonts-principal;
	    font-weight: 300;
	    line-height: 33px;
	    letter-spacing: 0.38px;
	}

	.default-button {
		background-color: $project-pink;
		color: #fff;
		text-align: center;
		text-transform: uppercase;
		border: none;
		height: 50px;
		width: 200px;
		font-family: $fonts-principal;
		font-size: 15px;
		font-weight: 700;
		border-radius: 25px;
	}

	.rectangle-decorative {
		width: 200px;
		height: 2px;
		background-color: $project-pink;
	}

	* {
	box-sizing: border-box;
	}
}

$phone_portrait: "(max-width: 767px) and (orientation:portrait)";
$phone_landscape: "(max-width: 767px) and (orientation:landscape)";
$tablet: "(min-width: 768px) and (max-width: 1191px)";
$desktop: "(min-width: 1200px)";

.main {
	position: relative;
	height: 800px;
	width: 100%;
	background: url('../images/Background/Underwater.png') no-repeat center center;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	background-position: 0% 100%;
	overflow: hidden;
	resize: both;
	@include clearfix;
}

.main {
	.main_header {
		display: flex;
		align-items: center;
		border: none;
		margin: 0 auto;
		width: 1410px;
		line-height: 25px;
	}
	.row {
		width: 1410px;
		@include clearfix;
	}


	ul.main_header-logo-left {
		display: flex;
		justify-content: flex-start;
		font-weight: 600;
		font-size: 24px;
		color: #ffffff;
		line-height: 12.28px;
		font-family: 'Raleway - Black', sans-serif;
		line-height: 25px;
		letter-spacing: 1.15px;
	}
	ul.main_header-logo-right {
		width: 500px;
		display: flex;
		justify-content: flex-end;
		margin: 0 5px;
		padding: 20px 0;
		list-style-type: none;
		line-height: 25px;
	}
	.main_header-logo-color {
		font-weight: 600;
		font-size: 24px;
		color: $project-pink;
		margin-right: 5px;
	}
	.main_header-logo-right {
		li {
			display: flex;
			justify-content: flex-end;
		}
		li {
			a {
				text-decoration: none;
				color: #ffffff;
				text-transform: capitalize;
				font-size: 16px;
				line-height: 25px;
				font-weight: 700;
				font-family: $fonts-principal;
				font-style: bold;
				cursor: pointer;
				padding: 0 7px;
			}
		}
	}
	nav {
		ul {
			li {
				display: flex;
				text-decoration: none;
				list-style-type: none;

			}
		}
	}
	nav {
		ul {
			li {
				a {
				   	&:hover {
					color: $project-pink;
					}
				}
			}
		}
	}
	.main_slogan {
		border: none;
		position: relative;
		margin: 175px auto;
		width: 1200px;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
	}
	.main_slogan {
		h1 {
			color: #fff;
			text-transform: uppercase;
			font-size: 46px;
			text-align: center;
			font-weight: 100;
			text-align: center;
			line-height: 18px;
			font-family: 'Lato', sans-serif;
			letter-spacing: 1.15px;
			margin-right: 120px;
		}
		.main_slogan-strong {
			font-family: $fonts-principal;
			font-weight: 600;
		}
		.rectangle-decorative {
			border: 1px solid $project-pink;
			width: 200px;
			height: 1.4px;
			margin: 25px 120px 25px 0px;
		}
		p {
			color: #fff;
			text-align: center;
			font-family: $fonts-principal;
			font-size: 22px;
			font-weight: 200;
			line-height: 33px;
			letter-spacing: 1.15px;
			margin-right: 120px;
		}
		.default-button {
			margin-top: 45px;
			margin-right: 120px;
		}
	}
}

.rectangle-gradient {
	position: relative;
	bottom: 3px;
	width: 95.2%;
	height: 26px;
	background-color: $project-pink;
	transform: rotate(-0.7deg) scale(1.1) translate(0, -10px);
	z-index: -1;
}

.about {
	width: 100%;
	height: 430px;
	background-color: #fff;
}
.row {
	@include clearfix;
}
[class*="col-"] {
	float: left;
	min-height: 1px;
	box-sizing: border-box;
}
.col-1 {
	width: 8.33%;
}
.col-2 {
	width: 16.66%;
}
.col-3 {
	width: 25%;
}
.col-4 {
	width: 33.33%;
}
.col-5 {
	width: 41.66%;
}
.col-6 {
	width: 50%;
}
.col-7 {
	width: 58.33%;
}
.col-8 {
	width: 66.66%;
}
.col-9 {
	width: 75%;
}
.col-10 {
	width: 83.33%;
}
.col-11 {
	width: 91.66%;
}
.col-12 {
	width: 100%
}
.col-offset-0 {
	margin-left: 0%;
}
.col-offset-1 {
	margin-left: 8.33%;
}
.col-offset-2 {
	margin-left: 16.66%;
}
.col-offset-3 {
	margin-left: 25%;
}
.col-offset-4 {
	margin-left: 33.33%;
}
.col-offset-5 {
	margin-left: 41.66%;
}
.col-offset-6 {
	margin-left: 50%;
}
.col-offset-7 {
	margin-left: 58.33%;
}
.col-offset-8 {
	margin-left: 66.66%;
}
.col-offset-9 {
	margin-left: 75%;
}
.col-offset-10 {
	margin-left: 83.33%;
}
.col-offset-11 {
	margin-left: 91.66%;
}

.about {
	h2 {
		color: $website-grey;
		text-align: left;
	}
	.col-lg-3 {
		padding-right: 15px;
	}
	.rectangle-decorative {
		margin: 25px 0;
	}
	p {
	    color: $website-grey;
	 }
	.about_video {
		.col-lg-3 {
			padding-right: 0;
		}
	}
	.about_video {
		h3 {
		    color: $project-pink;
		    text-align: left;
		}
	}
	.about_video-button {
		width: 30px;
		height: 30px;
		margin: 10px auto 0 auto;
		border: 0.5px solid $project-pink;
		border-radius: 50%;
		background-color: #ffffff;
		display: flex;
		justify-content: flex-start;
	}
	.button-play {
		box-sizing: border-box;
		height: 6px;
		width: 6px;
		border: solid;
		border-width: 3px 0 3px 6px;
		border-color: #fff  #fff #fff $project-pink;
		margin: 0 auto;
	}
	.about_video {
		display: inline;
	}
	.about_image {
		transform: scale(0.8);
	}
}

.services {
	width: 100%;
	height: 400px;
}
.services {
	.services_description  {
		width: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			-webkit-flex-direction: column;
		}
	.services_description {
		h2 {
			text-align: center;
			text-transform: capitalize;
		}
	}
	.rectangle-decorative {
		margin: 22px 0;
	}
	.services_description-paragraph {
	   	 text-align: center;
	}
	.container {
		width: 1168px;
		margin: 0 auto;
	}
	div.services_icons {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		-webkit-flex-direction: column;
		margin: 66px auto 33px auto;
	}
	.services_icons {
		h3 {
			color: $project-pink;
		    font-size: 16px;
		    font-family: $fonts-principal;
		    font-weight: 400;
		    text-transform: uppercase;
		    line-height: 20px;
		    letter-spacing: 0.25px;
		    text-align: center;
		}
	}
	.services_icons-image {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 133px;
		height: 133px;
		border: 1px solid rgba(0, 0, 0, 0.3);
		border-radius: 50%;
		color: $project-pink;
	}
}

.quotes {
	position: relative;
	height: 501px;
	width: 100%;
	background: url('../images/Background/Underwater_1.png') no-repeat center center;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	background-position: 0% 60%;
	overflow: hidden;
	resize: both;
	z-index: 2;
	display: flex;
	justify-content: center;
	align-items: center;
}
.quotes {
	.quotes_content {
		width: 1216px;
		display: flex;
		justify-content: center;
		align-items: center;
		-webkit-flex-direction: column;
		flex-direction: column;
	}
	.quotes_content-title {
		color: $project-pink;
		.fas {
			font-size: 55px;
		}
	}
	.quotes_content {
		[class*="col-"]{
			height: 111px;
		}
	}
	.quotes_content-paragraph {
		color: #ffffff;
		font-family: $fonts-principal;
		font-style: italic;
		font-size: 20px;
		font-weight: 400;
		line-height: 27px;
		letter-spacing: 0.63px;
		text-align: center;
	}
	.quotes_content-arrows_1 {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		margin: auto;
	}
.quotes_content-arrows_2 {
		@extend .quotes_content-arrows_1;
		justify-content: flex-end;
	}
	.quotes_content-arrows-left {
		box-sizing: border-box;
		width: 20px;
		height: 20px;
		border-style: solid;
		border-width: 2px;
		border-radius: 5px;
		transform: rotate(45deg);
		border-color: transparent transparent #fff #fff;
	}
	.quotes_content-arrows-right {
		@extend .quotes_content-arrows-left;
		border-color: #fff #fff transparent transparent;
	}
}

.prices {
	width: 100%;
	height: 1016px;
	//border: 2px solid black;
	background-color: #f4f4f4;
}
.prices {
	.prices_description  {
		width: 100%;
		height: auto;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		-webkit-flex-direction: column;
		margin-bottom: 120px;
	}
	.prices_description h2 {

		text-align: center;
		text-transform: capitalize;
		margin-top: 150px;
	}
	.rectangle-decorative {
		margin: 22px 0 22px 10px;
	}
	.prices_description {
		p {
			text-align: center;
			margin: 0 22vw;
		}
	}
	 .prices_details {
		display: flex;
		justify-content: space-around;
		align-items: center;
		width: 1138px;
	}
	.col-3 {
		height: 311px;
		display: flex;
		justify-content: center;
	}
	.prices_standard {
		position: relative;
		height: 463px;
		width: 262px;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		-webkit-flex-direction: column;
		background-color: #fff;
	}
	.prices_business {
		@extend .prices_standard;
	}
	.prices_premium {
		@extend .prices_standard;
	}
	.prices_unlimited {
		@extend .prices_standard;
	}
	.prices_standard-title {
		margin: 30px 0 0 0;
		font-family: $fonts-principal;
		font-size: 20px;
		font-weight: 700;
		line-height: 26px;
		letter-spacing: 0.5px;
		text-align: center;
	}
	.prices_business {
		h4 {
			@extend .prices_standard-title;
		}
	}
	.prices_premium {
		h4 {
			@extend .prices_standard-title;
		}
	}
	.prices_unlimited {
		h4 {
			@extend .prices_standard-title;
		}
	}
	.prices_standard-title-big {
		font-size: 50px;
	}
	.prices_standard-heading {
		margin: 0 0 10px 0;
		color: #f4f4f4;
		font-family: $fonts-principal;
		font-size: 15px;
		font-weight: 700;
		line-height: 11px;
		letter-spacing: 0.38px;
		text-align: center;
	}
	.prices_business {
		h5 {
			@extend .prices_standard-heading;
		}
	}
	.prices_premium {
		h5 {
			@extend .prices_standard-heading;
		}
	}
	.prices_unlimited {
		h5 {
			@extend .prices_standard-heading;
		}
	}
	.prices_standard-paragraph {
		color: $website-grey;
		font-family: $fonts-principal;
		font-size: 15px;
		font-weight: 300;
		line-height: 26px;
		letter-spacing: 0.38px;
		text-align: center;
	}
	.prices_business {
		p {
			@extend .prices_standard-paragraph;
		}
	}
	.prices_premium {
		p {
			@extend .prices_standard-paragraph;
		}
	}
	.prices_unlimited {
		p {
			@extend .prices_standard-paragraph;
		}
	}
	.default-button  {
		margin: 0 auto;
		position: relative;
	}
	.prices-button {
		position: relative;
		top: -25px;
		margin: auto;
		background-color: #f4f4f4;;
		color: $website-grey;
		text-align: center;
		text-transform: uppercase;
		border: none;
		height: 50px;
		width: 200px;
		font-family: $fonts-principal;
		font-size: 16px;
		font-weight: 700;
		border-radius: 25px;
	}
	.prices_standard-top {
		width: 100%;
		height: 150px;
		color: #f4f4f4;
		background-color: $website-grey;
		display: flex;
    flex-direction: column;
    justify-content: flex-start;
	}
	.prices_standard-content {
		position: relative;
		top: -25px;
		width: 100%;
		height: 366px;
		background-color: #fff;
		display: flex;
    flex-direction: column;
    justify-content: center;
		align-items: center;
		.prices_standard-content-paragraph {
			margin-bottom: 20px;
			background-color: #fff;
		}
	}
	.prices_business-top {
		@extend .prices_standard-top;
		background-color: $project-pink;
	}
	.prices_premium-top{
		@extend .prices_standard-top;
	}
	.prices_unlimited-top{
		@extend .prices_standard-top;
	}
	.row {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.col-lg-3 {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}

.description {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	height: 400px;
	margin-top: 120px;
	margin-bottom: 120px;
}
.description {
	.description_table {
		width: 1138px;
		margin-right: 50px;
	}
	h3 {
		color: $project-pink;
    	text-align: left;
    	padding-right: 5px;
	}
	p {
	    text-align: left;
	    padding: 0 5px;
	}
	.description_icons {
		display: flex;
		justify-content: center;
		align-items: center;
		color: $project-pink;
		margin-top: 15px;
	}
}

.rectangle {
	width: 100%;
	height: 150px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: $project-pink;
}
.rectangle {
	.rectangle_table {
		width: 1138px;
		h1 {
			color: #fff;
			text-transform: uppercase;
			font-size: 38px;
			text-align: left;
			font-weight: 100;
			line-height: 15px;
			font-family: $fonts-principal;
			letter-spacing: 1.15px;
		}
	}
	.rectangle_table-strong {
		font-family: $fonts-principal;
		font-weight: 600;
	}
	.rectangle_table button {
		background-color: #fff;
		color: $project-pink;
		text-align: center;
		text-transform: uppercase;
		border: none;
		height: 35px;
		width: 140px;
		font-family: $fonts-principal;
		font-size: 12px;
		font-weight: 700;
		border-radius: 15px;
		margin-left: 5px;
	}
	.row {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.col-lg-3 {
		float: none;
		justify-content: center;
		align-items: center;
	}
}

	.updates {
		width: 100%;
		height: 1432px;
		display: flex;
		justify-content: center;
		align-items: center;
			flex-direction: column;
	}
	.updates {
		div {
			.updates_description {
				display: flex;
				justify-content: center;
				align-items: center;
				flex-direction: column;
				margin-bottom: 75px;
			}
		}
		.updates_description {
			h2 {
				color: $website-grey;
				text-align: center;
				text-transform: capitalize;
				margin-top: 60px;
			}
		}
		.rectangle-decorative {
			margin: 22px 0 22px 10px;
		}
		.udpates_description {
			p {
	    		text-align: center;
			}
		}
		.updates_gallery {
			width: 1138px;
			display: flex;
			justify-content: flex-end;
			flex-direction: column;
			background-color: #fff;
			margin-left: 15px;
		}
		.updates_gallery {
			[class*="col-"]{
				display: flex;
				justify-content: flex-end;
				align-items: center;
				flex-direction: column;
			}
		}
		.updates_gallery {
			img {
				position: relative;
				z-index: 0;
				height: 250px;
				width: 360px;
				cursor: pointer;
				transition: 1.5s linear;
			}
		}
		.updates_gallery-layer {
			position: absolute;
			transform: rotate(1deg) translate(-2px, -7px);
			z-index: 1;
			height: 250px;
			width: 360px;
			margin: 0 auto;
			text-align: center;
			background-color: rgba(237, 20, 91, 0.8);
			color: #ffffff;
			opacity: 1;
			transition: 1.5s linear;
			cursor: pointer;
			display: flex;
			align-items: center;
			justify-content: center;
			cursor: pointer;
			transition: 1.5s linear;
		}
		.updates_gallery-layer {
			i.fa {
				font-size:30px;
			}
		}
		.updates_gallery-image {
			&:hover {
				.updates_gallery-layer {
	    			transform: translate(0.8px, -253px);
				}
			}
		}
		.updates_gallery-text {
			box-sizing: border-box;
			position: relative;
			z-index: 2;
			width: 100%;
			height: 250px;
			background-color: #fff;
			.updates_gallery-text-group {
				width: 360px;
				height: 150px;
				background-color: #f4f4f4;
				display: flex;
	    	flex-direction: column;
	    	justify-content: space-around;
				margin-left: 10px;
			}
		}
		.updates_gallery-text {
			h3 {
				color: $website-grey;
			    text-align: left;
			    padding: 15px 15px 0 15px;
			}
		}
		.updates_gallery-text  {
			p {
				color: $website-grey;
			    text-align: left;
			    padding: 0 15px 15px 15px;;
			}
		}
		.updates_more {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			margin-bottom: 50px;
		}
		.updates_more {
			h3 {
				box-sizing: border-box;
				color: $project-pink;
			  text-align: center;
				margin: 0;
			}
		}
		.updates_more-button {
			border: none;
			display: flex;
			align-items: center;
			justify-content: center;
			background-color: #fff;
			margin: 0;
		}
		.updates_more-button {
			span {
				box-sizing: border-box;
				width: 12px;
		    height: 12px;
		    border-style: solid;
		    border-width: 1.5px;
		    border-radius: 4px;
				border-color: transparent $project-pink $project-pink transparent;
				transform: rotate(45deg);
			}
		}
	}

	.show {
		width: 100%;
		height: 650px;
		background: url('../images/Background/Underwater_3.png') no-repeat center center;
		-webkit-background-size: cover;
	  	-moz-background-size: cover;
	  	-o-background-size: cover;
	  	background-size: cover;
	  	background-position: 0% 60%;
		overflow: hidden;
		resize: both;
		z-index: 2;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.show {
		.show_content {
			width: 33.33%;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			-webkit-flex-direction: column;
			}
		.show_content-title {
			h2 {
				color: #fff;
				text-align: center;
				text-transform: capitalize;
			}
		}
		.rectangle-decorative{
			margin: 22px 0 22px 10px;
		}

		.show_content-paragraph {
			margin-bottom: 50px;
		}
		.show_content-paragraph {
			p {
				color: #fff;
				text-align: center;

			}
		}
		.show_content-button {
			margin-top: 50px;
		}
	}

	.download {
		width: 100%;
		height: 754px;
	}
	.download {
		.row {
			@include clearfix;
		}
		.download_image {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			justify-content: flex-start;
			margin-top: auto;
			margin-bottom: auto;
			margin-right: 100px;
			height: 562px;
			width: 800px;
			float: right;
		}
		.download_image
			img {
				object-fit:cover;
				margin: 80px 0 0 60px;
			}
		.download_content {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			margin-top: 102.5px;
			width: 538px;
		}
		.download_content-title {
			margin-left: 50px;
		}
		.download_content-rectangle {
			width: 100%;
		}
		.rectangle-decorative {
			margin: 22px 20px 22px 50px;
		}
		.download_content-paragraph{
			margin-bottom: 25px;
			margin-left: 50px;
			p {
				line-height: 33px;
			}
		}
		.download_content-button {
			margin-top: 15px;
			margin-left: 50px;
			width: 100%;
		}
	}

	.footer {
		width: 100%;
		height: 115px;
		background-color: $website-grey;
		color: #fff;
		display: flex;
		align-items: center;
	}
	.footer {
		.row {
			width: 100%;
		}
		.footer_copyright {
			display: flex;
			align-items: center;
			justify-content: center;
		}
		.footer_design {
			display: flex;
			align-items: center;
			justify-content: center;
		}
		.footer_design-special {
			color: $project-pink;
			font-size: 24px;
			}
	}

@media #{$phone_portrait} {
    /* For phones: */

		.col-sm-1 {width: 8.33%;}
    .col-sm-2 {width: 16.66%;}
    .col-sm-3 {width: 25%;}
    .col-sm-4 {width: 33.33%;}
    .col-sm-5 {width: 41.66%;}
    .col-sm-6 {width: 50%;}
    .col-sm-7 {width: 58.33%;}
    .col-sm-8 {width: 66.66%;}
    .col-sm-9 {width: 75%;}
    .col-sm-10 {width: 83.33%;}
    .col-sm-11 {width: 91.66%;}
    .col-sm-12 {width: 100%;}

		.main {
			position: relative;
			height: 100%;
			width: 100vw;
			background: url('../images/Background/Underwater_portrait.png') no-repeat center center;
			-webkit-background-size: cover;
		  	-moz-background-size: cover;
		  	-o-background-size: cover;
		  	background-size: cover;
		  	background-position: 0% 100%;
			overflow: hidden;
			resize: both;
			@include clearfix;
		}


		.main {
			.main_header {
				width: 100vw;
				line-height: 5vh;
			}
			.row {
				width: 100vw;
				@include clearfix;
			}
			.onclick-menu {
				position: relative;
				display: inline-block;
			}
			.onclick-menu::before {
				content: "Menu";
				color: #fff;
				font-size: 2.5vh;
				line-height: 3vh;
				font-family: $fonts-principal;
				font-weight: 700;
		    display: flex;
		    justify-content: flex-end;
				padding: 10px;
				float: none;
			}
			.onclick-menu:focus {
				pointer-events: none;
			}
			.onclick-menu:focus {
				.onclick-menu-content {
					opacity: 1;
					visibility: visible;
					pointer-events: auto;
				}
			}
			.onclick-menu-content {
				position: absolute;
				z-index: 1;
				opacity: 0;
				visibility: hidden;
				transition: visibility 0.8s;
			}

			ul.main_header-logo-left {
				justify-content: flex-start;
				font-size: 5vh;
				line-height: 5vh;
				letter-spacing: 1.15px;
				padding: 10px;
				margin: 0 0 10vh 0;
			}
			ul.main_header-logo-right {
				width: auto;
				flex-direction: column;
				justify-content: flex-end;
				align-items: flex-end;
				margin: 2.5px 0;
				padding: 1vh;
			}
			.main_header-logo-color {
				font-size: 5vh;
			}
			.main_header-logo-right {
				li {
					a {
						font-size: 2.5vh;
						line-height: 3vh;
						color: #fff;
					}
				}
			}
			.main_slogan {
				margin: 6vh auto 2vh auto;
				width: 100vw;
			}
			.main_slogan {
				h1 {
					font-size: 8vh;
					text-align: center;
					line-height: 7.5vh;
					margin: 3vh auto;
				}
				.rectangle-decorative {
					margin: 5vh 0px;
				}
				p {
					font-size: 3vh;
					line-height: 3vh;
					margin: 0 auto;
					width: 90vw;
				}
				.default-button {
					margin: 4vh auto;
				}
			}
		}

		.rectangle-gradient {
			width: 97.1%;
		}

		.about {
			height: auto;
		}
		.row {
			@include clearfix;
		}
		.about {
			h2 {
				text-align: center;
			}
			.col-sm-3 {
				padding-right: 15px;
			}
			.rectangle-decorative {
				margin: 25px auto;
			}
			p {
					text-align: center;
					padding: 0 10px;
			 }
			 .about_video {
				 h3 {
					 text-align: center;
				 }
			 }
			.about_image {
				display: flex;
				justify-content: center;
				img {
					width: 80vw;
					height: 50%;
				}
			}
		}

		.services {
			height: auto;
		}

		.services {
			.services_description-paragraph {
					 padding: 0 10px;
			}
			.container {
				width: 100vw;
			}
			div.services_icons {
				margin: 33px auto 0 auto;
			}
		}

		.quotes {
			margin-top: 33px;
			position: relative;
			height: 50%;
			width: 100%;
			background: url('../images/Background/underwater.png') no-repeat center center;
			-webkit-background-size: cover;
		  	-moz-background-size: cover;
		  	-o-background-size: cover;
		  	background-size: cover;
		  	background-position: 0% 100%;
			overflow: hidden;
			resize: both;
			z-index: 2;
			display: flex;
			justify-content: center;
			align-items: center;
		}
		.quotes {
			.quotes_content {
				width: 90vw;

				.col-sm-10 {
					display: flex;
					justify-content: center;
					align-items: center;
				}
			}
			.quotes_content-title {
				.fas {
					font-size: 33px;
				}
			}
			.quotes_content {
				[class*="col-sm"]{
					height: 111px;
				}
			}
			.quotes_content-paragraph {
				font-size: 3vh;
				line-height:2.5vh;
			}
		}

		.prices {
			width: auto;
			height: auto;
			margin: 0 auto;
			 	.prices_description {
					width: 100vw;
					margin-bottom: 4vh;
					h2 {
						margin-top: 10vh;
					}
				}
 				.prices_details {
					width: 100vw;
					display: flex;
					flex-direction: column;
					justify-content: center;
					.col-sm-12 {
						height: auto;
						display: flex;
						justify-content: center;
						margin-bottom: 25px;
					}
				}
		}

		.description {
			justify-content: center;
			width: 100vw;
			height: auto;
			margin: 0 auto;
		}
		.description {
			.description_table {
				width: 100vw;
				margin: 0 auto;
			}
		}

		.rectangle {
			width: 100%;
			height: auto;
		}
		.rectangle {
			.rectangle_table {
				width: 100vw;
				height: auto;
				margin: 25px auto;
				h1 {
					text-align: center;
					line-height: 38px;
					padding: 0 10px;
					margin: 0 auto;
				}
			}
			.rectangle_table {
				button {
					margin: 25px auto 0 auto;
				}
			}
			.row {
				display: flex;
				flex-direction: column;
			}
			.col-sm-12 {
				float: none;
				display: flex;
				justify-content: center;
				align-items: center;
			}
		}

 .updates {
	 width: 100vw;
	 height: auto;
	 .updates_description {
		 padding: 0 10px;
		 text-align: center;
		 margin-bottom: 25px;
	 }
	 .updates_gallery {
		 width: 100vw;
		 .col-sm-12 {
			 width: 100vw;
			 background-color: #fff;
			 .updates_gallery-image {
				 img {
					 max-width: 360px;
					 width: 95vw;
				 }
			 }
			 .updates_gallery-layer {
					 width: 95vw;
					 max-width: 360px;
			 }
			 .updates_gallery-text {
					 width: 97vw;
					 max-width: 370px;
					 .updates_gallery-text-group {
						width: 95vw;
						max-width: 360px;
						justify-content: flex-start;
						margin-left: 5px;
					}
					h3 {
							text-align: center;
							padding: 10px 10px 0 10px;
							margin: 0 auto;
					}
					p {
							text-align: center;
							padding: 0 10px 10px 10px;
					}
			 }
		 }
	 }
 }

 .show {
	 width: 100%;
	 height: auto;
	 background: url('../images/Background/Underwater_portrait_1.png') no-repeat center center;
	 -webkit-background-size: cover;
		 -moz-background-size: cover;
		 -o-background-size: cover;
		 background-size: cover;
		 background-position: 0% 100%;
	 overflow: hidden;
	 resize: both;
	 z-index: 2;
	 display: flex;
	 justify-content: center;
	 align-items: center;
	 .show_content {
		 width: 80%;
		 height: auto;
	 }
	 .default-button {
		 margin-bottom: 50px;
	 }
 }
 .download {
	 height: auto;
 }

 .download {
	 .row {
		 @include clearfix;
	 }
	 .download_image {
		 align-items: center;
		 justify-content: center;
		 margin: auto;
		 height: auto;
		 width: 100vw;
	 }
	 .download_image
		 img {
			object-fit:cover;
			width: 90%;
			height: 90%;
			margin: 40px auto 10px auto;
		 }
	 .download_content {
		 margin: 0 auto;
		 width: auto;
	 }
	 .download_content-title {
		 margin-left: 0;
		 h2 {
			 padding: 0 10px;
			 text-align: center;
		 }
	 }
	 .download_content-rectangle {
		 width: 100%;
	 }
	 .rectangle-decorative {
		 margin: 22px auto;
	 }
	 .download_content-paragraph{
		 margin: 0 auto 25px auto;
		 p {
			 text-align: center;
			 padding: 0 10px;
		 }
	 }
	 .download_content-button {
		 margin: 0 auto 50px auto;
		 display: flex;
		 justify-content: center;
		 default-button {
			 margin: 0 auto 25px auto;
		 }
	 }
 }

 .footer {
	 height: auto;
	 .footer_copyright {
		 margin-top: 25px;
	 }
	 .footer_design {
		 margin-bottom: 25px;
	 }
 }
}

@media #{$phone_landscape} {
    /* For phones: */

		.col-sml-1 {width: 8.33%;}
    .col-sml-2 {width: 16.66%;}
    .col-sml-3 {width: 25%;}
    .col-sml-4 {width: 33.33%;}
    .col-sml-5 {width: 41.66%;}
    .col-sml-6 {width: 50%;}
    .col-sml-7 {width: 58.33%;}
    .col-sml-8 {width: 66.66%;}
    .col-sml-9 {width: 75%;}
    .col-sml-10 {width: 83.33%;}
    .col-sml-11 {width: 91.66%;}
    .col-sml-12 {width: 100%;}

		.main {
			position: relative;
			height: 100%;
			width: 100vw;
			background: url('../images/Background/Underwater.png') no-repeat center center;
			-webkit-background-size: cover;
		  	-moz-background-size: cover;
		  	-o-background-size: cover;
		  	background-size: cover;
		  	background-position: 0% 100%;
			overflow: hidden;
			resize: both;
			@include clearfix;
		}


		.main {
			.main_header {
				width: 100vw;
				line-height: 5vh;
			}
			.row {
				width: 100vw;
				@include clearfix;
			}

			ul.main_header-logo-left {
				justify-content: flex-start;
				font-size: 5vh;
				line-height: 5vh;
				letter-spacing: 1.15px;
				padding: 10px;
				margin: 0 0 0 15px;
			}
			ul.main_header-logo-right {
				width: auto;
				justify-content: flex-end;
				align-items: flex-end;
				margin: 0;
				padding: 10px;
			}
			.main_header-logo-color {
				font-size: 5vh;
			}
			.main_header-logo-right {
				li {
					a {
						font-size: 3.5vh;
						line-height: 4vh;
						color: #fff;
					}
				}
			}
			.main_slogan {
				margin: 6vh auto 2vh auto;
				width: 100vw;
			}
			.main_slogan {
				h1 {
					font-size: 8vh;
					text-align: center;
					line-height: 7.5vh;
					margin: 3vh auto;
				}
				.rectangle-decorative {
					margin: 5vh 0px;
				}
				p {
					font-size: 3vh;
					line-height: 3vh;
					margin: 0 auto;
					width: 90vw;
				}
				.default-button {
					margin: 4vh auto;
				}
			}
		}

		.rectangle-gradient {
			width: 97.1%;
		}

		.about {
			height: auto;
		}
		.row {
			@include clearfix;
		}
		.about {
			h2 {
				text-align: center;
			}
			.col-sml-3 {
				padding-right: 15px;
			}
			.rectangle-decorative {
				margin: 25px auto;
			}
			p {
					text-align: center;
					padding: 0 10px;
			 }
			 .about_video {
				 h3 {
					 text-align: center;
				 }
			 }
			.about_image {
				display: flex;
				justify-content: center;
				img {
					width: 80vw;
					height: 50%;
				}
			}
		}

		.services {
			height: auto;
		}

		.services {
			.services_description-paragraph {
					 padding: 0 10px;
			}
			.container {
				width: 100vw;
			}
			div.services_icons {
				margin: 33px auto 0 auto;
				transform: scale(0.8);
				img {
						transform: scale(0.8);
				}
				h3 {
						font-size: 13px;
				}

			}
		}

		.quotes {
			margin-top: 33px;
			position: relative;
			height: 50%;
			width: 100%;
			background: url('../images/Background/Underwater_1.png') no-repeat center center;
			-webkit-background-size: cover;
		  	-moz-background-size: cover;
		  	-o-background-size: cover;
		  	background-size: cover;
		  	background-position: 0% 100%;
			overflow: hidden;
			resize: both;
			z-index: 2;
			display: flex;
			justify-content: center;
			align-items: center;
		}
		.quotes {
			.quotes_content {
				width: 90vw;

				.col-sml-10 {
					display: flex;
					justify-content: center;
					align-items: center;
				}
			}
			.quotes_content-title {
				.fas {
					font-size: 33px;
				}
			}
			.quotes_content {
				[class*="col-sml"]{
					height: 111px;
				}
			}
			.quotes_content-paragraph {
				font-size: 5vh;
				line-height: 4.5vh;
			}
		}

		.prices {
			width: auto;
			height: auto;
			margin: 0 auto;
			 	.prices_description {
					width: 100vw;
					margin-bottom: 4vh;
					h2 {
						margin-top: 10vh;
					}
					p{
						text-align: center;
						margin: 0;
						padding: 0 10px;
					}
				}
 				.prices_details {
					width: 100vw;
					display: flex;
					flex-direction: column;
					justify-content: center;
					.col-sml-12 {
						height: auto;
						display: flex;
						justify-content: center;
						margin-bottom: 25px;
					}
				}
		}

		.description {
			justify-content: center;
			width: 100vw;
			height: auto;
			margin: 0 auto;
		}
		.description {
			.description_table {
				width: 100vw;
				margin: 0 auto;
			}
		}

		.rectangle {
			width: 100%;
			height: auto;
		}
		.rectangle {
			.rectangle_table {
				width: 100vw;
				height: auto;
				margin: 25px auto;
				h1 {
					text-align: center;
					line-height: 38px;
					padding: 0 10px;
					margin: 0 auto;
				}
			}
			.rectangle_table {
				button {
					margin: 25px auto 0 auto;
				}
			}
			.row {
				display: flex;
				flex-direction: column;
			}
			.col-sml-12 {
				float: none;
				display: flex;
				justify-content: center;
				align-items: center;
			}
		}

 .updates {
	 width: 100vw;
	 height: auto;
	 .updates_description {
		 padding: 0 10px;
		 text-align: center;
		 margin-bottom: 25px;
	 }
	 .updates_gallery {
		 width: 100vw;
		 .col-sml-12 {
			 width: 100vw;
			 background-color: #fff;
			 .updates_gallery-image {
				 img {
					 max-width: 360px;
					 width: 95vw;
				 }
			 }
			 .updates_gallery-layer {
					 width: 95vw;
					 max-width: 360px;
			 }
			 .updates_gallery-text {
					 width: 97vw;
					 max-width: 370px;
					 .updates_gallery-text-group {
						width: 95vw;
						max-width: 360px;
						justify-content: flex-start;
						margin-left: 5px;
					}
					h3 {
							text-align: center;
							padding: 10px 10px 0 10px;
							margin: 0 auto;
					}
					p {
							text-align: center;
							padding: 0 10px 10px 10px;
					}
			 }
		 }
	 }
 }

 .show {
	 width: 100%;
	 height: auto;
	 background: url('../images/Background/underwater.png') no-repeat center center;
	 -webkit-background-size: cover;
		 -moz-background-size: cover;
		 -o-background-size: cover;
		 background-size: cover;
		 background-position: 0% 60%;
	 overflow: hidden;
	 resize: both;
	 z-index: 2;
	 display: flex;
	 justify-content: center;
	 align-items: center;
	 .show_content {
		 width: 80%;
		 height: auto;
	 }
	 .default-button {
		 margin-bottom: 50px;
	 }
 }
 .download {
	 height: auto;
 }

 .download {
	 .row {
		 @include clearfix;
	 }
	 .download_image {
		 align-items: center;
		 justify-content: center;
		 margin: auto;
		 height: auto;
		 width: 100vw;
	 }
	 .download_image
		 img {
			object-fit:cover;
			width: 90%;
			height: 90%;
			margin: 40px auto 10px auto;
		 }
	 .download_content {
		 margin: 0 auto;
		 width: auto;
	 }
	 .download_content-title {
		 margin-left: 0;
		 h2 {
			 padding: 0 10px;
			 text-align: center;
		 }
	 }
	 .download_content-rectangle {
		 width: 100%;
	 }
	 .rectangle-decorative {
		 margin: 22px auto;
	 }
	 .download_content-paragraph{
		 margin: 0 auto 25px auto;
		 p {
			 text-align: center;
			 padding: 0 10px;
		 }
	 }
	 .download_content-button {
		 margin: 0 auto 50px auto;
		 display: flex;
		 justify-content: center;
		 default-button {
			 margin: 0 auto 25px auto;
		 }
	 }
 }

 .footer {
	 height: auto;
	 .footer_copyright {
		 margin-top: 25px;
	 }
	 .footer_design {
		 margin-bottom: 25px;
	 }
 }
}


@media #{$tablet} {
		/*For tablet */
		.col-md-1 {width: 8.33%;}
		.col-md-2 {width: 16.66%;}
		.col-md-3 {width: 25%;}
		.col-md-4 {width: 33.33%;}
		.col-md-5 {width: 41.66%;}
		.col-md-6 {width: 50%;}
		.col-md-7 {width: 58.33%;}
		.col-md-8 {width: 66.66%;}
		.col-md-9 {width: 75%;}
		.col-md-10 {width: 83.33%;}
		.col-md-11 {width: 91.66%;}
		.col-md-12 {width: 100%;}

		.main {
			position: relative;
			height: auto;
			width: 100%;
			background: url('../images/Background/Underwater.png') no-repeat center center;
			-webkit-background-size: cover;
				-moz-background-size: cover;
				-o-background-size: cover;
				background-size: cover;
				background-position: 0% 100%;
			overflow: hidden;
			resize: both;
			@include clearfix;
		}
		.main {
				.row {
					width: 100vw;
					@include clearfix;
				}
				.main_header {
					width: 100vw;
					.main_header-logo-left {
						width: auto;
					}
					.main_header-logo-right {
						width: auto;
					}
				}
				.main_slogan {
					width: 90vw;
					height: auto;
					margin: 20px auto 10px auto;
					justify-content: center;
					align-items: center;
					h1 {
						margin: 0 auto;
						font-size: 46px;
						line-height: 40px;
					}
					.rectangle-decorative {
						margin: 22px auto;
					}
					p {
						width: auto;
						height: auto;
						line-height: 33px;
						margin: 10px auto;
					}
					.default-button {
						margin: 25px auto;
					}
				}
		}

		.about {
			height: auto;
		}
		.about {
			.col-md-12 {
				text-align: center;
			}
			.about-title {
				display: flex;
				justify-content: center;
				h2 {
					text-align: center;
					padding: 0 15px;
					margin-left: none;
				}
			}
			p {
				padding: 0 15px;
			}
			.rectangle-decorative {
				margin: 22px auto;
			}
			.about_video {
				h3 {
					text-align: center;
				}
				div {
					.about_video-button {
						margin: 0 auto 25px auto;
					}
				}
			}
			.about_image {
				display: flex;
				justify-content: center;
				align-items: center;
				img {
					width: auto;
					height: auto;
				}
			}
		}

		.services {
			height: auto;
		}
		.services {
			.container {
				width: 100%;
			}
		}

		.quotes {
			position: relative;
			height: auto;
			width: 100%;
			background: url('../images/Background/Underwater_3.png') no-repeat center center;
			-webkit-background-size: cover;
				-moz-background-size: cover;
				-o-background-size: cover;
				background-size: cover;
				background-position: 0% 100%;
			overflow: hidden;
			resize: both;
			z-index: 2;
			display: flex;
			justify-content: center;
			align-items: center;
		}
		.quotes{
			.quotes_content {
				width: 80vw;
				.quotes_content-title{
					width: 100%;
					.fas {
						font-size: 33px;
					}
				}
			}
		}

		.prices {
			height: auto;
			.prices_description {
				margin-bottom: 50px;
				h2 {
					margin-top: 50px;
				}
				p {
					margin-bottom: 0px;
				}
			}
			.prices_details {
				width: 750px;
				margin-bottom: 50px;

			}
			.col-md-3 {
				width: 180px;
			}
			.prices-button {
				width: 150px;
			}
			.default-button {
				width: 150px;
			}
		}
		.description {
			width: 100%;
			height: auto;
			.description_table {
				margin-bottom: 0;
				width: 95vw;
				.description_icons {
					margin-right: 5px;
				}
			}
		}

		.rectangle {
			height: auto;
			.rectangle_table {
				width: 100%;
				height: auto;
				.row {
					width: 100%;
					flex-direction: column;
				}
				.col-md-12 {
					display: flex;
					justify-content: center;
					align-items: center;
				}
				h1 {
					text-align: center;
					line-height: 38px;
					padding: 0 15px;
				}
				button {
					margin: 0 auto 25px auto;
				}
			}
		}

		.updates {
			width: 100%;
			height: auto;
			.updates_description {
				text-align: center;
			}
			.updates_gallery {
				width: 100%;
				height: auto;
				.updates_gallery-image {
					img {
						width: 250px;
						height: 180px;
					}
					&:hover {
						.updates_gallery-layer {
								transform: translate(0.8px, -183px);
						}
					}
				}
				.updates_gallery-layer {
						width: 250px;
					 	height: 180px;
				}
				.updates_gallery-text {
					width: 102%;
					height: 200px;
					.updates_gallery-text-group {
						width: 252px;
						height: 170px;
					}
					h3 {
						padding: 20px 15px 0 15px;
						line-height: 16px;
					}
					p {
						padding: 0 15px 10px 15px;
						line-height: 24px;
					}
				}
			}
		}

		.show {
			width: 100%;
			height: auto;
			background: url('../images/Background/underwater.png') no-repeat center center;
			-webkit-background-size: cover;
		  	-moz-background-size: cover;
		  	-o-background-size: cover;
		  	background-size: cover;
		  	background-position: 0% 60%;
			overflow: hidden;
			resize: both;
			z-index: 2;
			display: flex;
			justify-content: center;
			align-items: center;
			.show_content {
				width: 80vw;
				height: auto;
				.show_content-paragraph {
					margin-bottom: 25px;
				}
				.default-button {
					margin-bottom: 40px;
				}
			}
		}
		.download {
			height: auto;
			width: 100%;
			.col-md-12 {
				display: flex;
				justify-content: center;
				align-items: center;
				.download_image {
					display: flex;
					justify-content: center;
					align-items: center;
				}
		 }
		 .download_content {
			 	margin-top: 51.25px;
			 .download_content-title {
				 margin-left: 0;
				 h2 {
					 padding: 0 10px;
					 text-align: center;
				 }
			 }
			 .download_content-rectangle {
				 width: 100%;
			 }
			 .rectangle-decorative {
				 margin: 22px auto;
			 }
			 .download_content-paragraph{
				 margin: 0 auto 25px auto;
				 p {
					 text-align: center;
					 padding: 0 10px;
				 }
			 }
			 .download_content-button {
				 margin: 0 auto 50px auto;
				 display: flex;
				 justify-content: center;
				 default-button {
					 margin: 0 auto 25px auto;
				 }
			 }
		 }
	 }

}

@media #{$desktop} {
		/* For desktop: */
	 	.col-lg-1 {width: 8.33%;}
		.col-lg-2 {width: 16.66%;}
		.col-lg-3 {width: 25%;}
		.col-lg-4 {width: 33.33%;}
		.col-lg-5 {width: 41.66%;}
		.col-lg-6 {width: 50%;}
		.col-lg-7 {width: 58.33%;}
		.col-lg-8 {width: 66.66%;}
		.col-lg-9 {width: 75%;}
		.col-lg-10 {width: 83.33%;}
		.col-lg-11 {width: 91.66%;}
		.col-lg-12 {width: 100%;}
}

/*.updates_gallery-image:hover .updates_gallery-layer {
    transform: translate(0.8px, -153px);
}*/
